<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shop Item Card</title>
  </head>
  <body>
    <main class="main">
      <article class="card">
        <img
          src="./src/images/iphone-14.png"
          alt="Iphone 14 Pro image"
          title="Iphone 14 pro image"
          class="image"
        />

        <div class="informations-wrapper">
          <h1 class="title">Apple iPhone 14 Pro 256GB 6,1” 48MP - iOS 5G</h1>

          <div class="price">
            <p class="old-price">R$ 13.549,99</p>
            <h2 class="actual-price">R$ 8.549,99</h2>
          </div>

          <div class="color-select">
            <p>Selecione a cor:</p>

            <div class="color-one"></div>
            <div class="color-two"></div>
            <div class="color-three"></div>
          </div>

          <button type="button" class="add-to-cart-btn">
            ADICIONAR AO CARRINHO
          </button>

          <a href="#" class="more-info-btn">CLIQUE AQUI PARA MAIS DETALHES</a>
        </div>
      </article>
    </main>
  </body>
</html>
