<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile Card</title>
    <link rel="stylesheet" href="./src/css/style.css" />
  </head>
  <body>
    <main class="main">
      <article class="card-wrapper">
        <div class="image-container">
          <img
            src="./src/assets/images/undraw_developer-avatar_f6ac.svg"
            alt="user profile image"
          />
        </div>

        <div class="info-container">
          <h1 class="name">João Silva</h1>
          <p class="about">Frontend Developer at @XYZ Company</p>
        </div>

        <hr />

        <button class="action-btn">Follow</button>
      </article>
    </main>
  </body>
</html>
